@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
  
    nav { 
        padding-top: 1rem;
        margin-right: .2rem;
        margin-left: 1rem;

        h4 {
            position:absolute;

        }
        ul {
            display: flex;
            float: right;
            li {
                float: right;
                padding-left: 1rem;
                flex-direction: row;
                list-style: none;
                cursor: pointer;
            }
        }
    
    }
    h2 {
        text-decoration: underline;
        text-decoration-color: #ba0bff;
        text-decoration-thickness: 5px;
    }
}


main {
    width: 100%;
    display: flex;
    padding: 2rem;
    padding-top: 4rem;
    font-weight: bold;
    flex-direction: column;
    p {
        font-size: 2rem;
    }
   
    .sub{
        padding-top: .4rem;
        font-size: .8rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bolder;
        padding-top: .3rem;
        text-decoration: none;
        span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(186, 11, 255);
        }
    }


    .banner {
        margin-top: 3rem;
        img {
            height: 18rem;
        }  
    }
}
a {
    color: black;
}
a:visited {
    background-color: black;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #ba0bff;
    text-decoration-style: unset;
    text-decoration-thickness: 5px;
}

.skillsandprojects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-self: center;
    justify-content: center;

  

    .skill {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-self: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.062);
        padding: 5.3rem;
        border-radius: 2rem;
        box-shadow:
       - 6px -6px 6px rgba(255, 255, 255, 0.966),
         6px 6px 6px rgba(0, 0, 0, 0.233);
        img {
            position: absolute;
            top:8rem;
            align-self: center;
            flex-direction: row;
            height: auto;
            width: 7rem;
            opacity: 50%;
        }
      
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            z-index: 1;
            li {
                list-style: none;
                padding-bottom: 1rem;
            }
    }

    }

    .about {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
  p {
      margin-top: 2rem;
      text-align: left;
  }

}
}
.social {
    display: flex;
    flex-direction: column;
    align-self: center;

    h2 {
        margin-bottom: 1.5rem;
    }

    .sublink  {
        display: flex;

    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: .2rem;
        margin: .5rem;
        height: 4.2rem;
        width: 4.2rem ;
        background-color: #f0f8ff;
        border-radius: 1rem;
        box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.959),
        6px 6px 12px rgba(0, 0, 0, 0.158);
      a {
          position: absolute;
      }
    }
}
footer {
    background-color: #ba0bff;
    color: whitesmoke;
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
    
}

@media only screen 
   and (min-width : 350px) {
       body {
           margin: 1rem;

           nav {
            padding-left: 1rem;
            margin-left: 1rem;
           }
       }
    main {
        padding-left: 2rem;
       
        flex-direction: row;
        
        p {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        .sub{
            font-size: 1rem;
            font-weight: 500;
        }
        .banner {
            padding-left: 1rem;
            position:relative;
            right: 0;
            margin-top: -1rem;
            
            img {
                position: sticky;
                right: 0;
                height: 18rem;
            }  
        }
    }
    .skillsandprojects {
        flex-direction: column;
        justify-content: space-evenly;
    

        .skill {
            width: auto;
            justify-self: center;
            align-content: center;
            justify-content: space-between;
          

           
        }
        .about {
            width: 60%;
            justify-self: center;
            justify-content: center;
            padding: 2rem;
            align-self: center;
            align-content: center;

            p {
                text-align: left;
            }
    }
    }

   
}


@media only screen 
   and (min-width : 700px) {

    body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
 main {
     padding-left: 6rem;
     padding-right: 6rem;
     flex-direction: row;
     justify-content: space-between;
     p {
         font-size: 4rem;
     }
     h2 {
         font-size: 2.5rem;
     }
     .sub{
         font-size: 1.3rem;
         font-weight: 500;
     }
     .banner {
         margin-top: -1rem;
         
         img {
             position: sticky;
             right: 0;
             height: 18rem;
         }  
     }
 }
 .skillsandprojects {
     margin: 2rem;
     width: 90vw;
     flex-direction: row;
     justify-content:space-between;
     align-content: center;

     .skill {
         justify-self: center;
         align-content: center;
         justify-content: space-evenly;
         width: 30rem;
         img {
             left:15rem;
         }
       
     }
     .about {
         justify-self: center;
         justify-content: center;
         padding: 3rem;

         p {
             text-align: center;
         }
    }
 }

 .social {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;

    h2 {
        float: left;
        margin-right: 3rem;
        margin-bottom: 1.5rem;
    }

    .sublink  {
        display: flex;
        flex-direction: row;
    }

}
   
}